[user]
	name = Holger Grosse-Plankermann
	email = holgergp@gmail.com
[core]
	excludesfile = /Users/hgp/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
# assumes git.git clone at ~/src/git
# short for checkour
co = checkout
diff-highlight = "!f() { git diff \"$@\" | ~/scripts/git/contrib/diff-highlight/diff-highlight; }; f"
# new branch
cob = checkout -b
# add and commit
cm = !git add -A && git commit -m
#loga = log --format=\"%C(yellow)%h %C(red)%cd %C(green)%<(18,trunc)%cn %C(reset)%s\" --date=\"format:%d %b %H:%M:%S\"
loga = log --first-parent -20 --format=\"%C(yellow)%h %C(red)%cd %C(green)%<(18,trunc)%cn %C(reset)%s\" --date=\"format:%d %b %H:%M:%S\"
dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"

[color "status"]
	changed = magenta white bold

[color "diff"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
