[user]
	name = Holger Grosse-Plankermann
	email = holgergp@gmail.com
[core]
	excludesfile = /Users/hgp/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
# assumes git.git clone at ~/src/git
# short for checkour
co = checkout
diff-highlight = "!f() { git diff \"$@\" | ~/scripts/git/contrib/diff-highlight/diff-highlight; }; f"
# new branch
cob = checkout -b
# add and commit
cm = !git add -A && git commit -m
	loga = log --format=\"%C(yellow)%h %C(red)%cd %C(green)%<(18,trunc)%cn %C(reset)%s\" --date=\"format:%d %b %H:%M:%S\"
[color "status"]
	changed = magenta white bold
